@model WenPrj.Models.商品資料product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>商品資料product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="商品名稱productName" class="control-label"></label>
                <input asp-for="商品名稱productName" class="form-control" />
                <span asp-validation-for="商品名稱productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品價格productPrice" class="control-label"></label>
                <input asp-for="商品價格productPrice" class="form-control" />
                <span asp-validation-for="商品價格productPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="電影院編號theaterId" class="control-label"></label>
                <select asp-for="電影院編號theaterId" class ="form-control" asp-items="ViewBag.電影院編號theaterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="商品圖片image" class="control-label"></label>
                <input asp-for="商品圖片image" class="form-control" />
                <span asp-validation-for="商品圖片image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品圖片路徑imagePath" class="control-label"></label>
                <input asp-for="商品圖片路徑imagePath" class="form-control" />
                <span asp-validation-for="商品圖片路徑imagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品介紹introduce" class="control-label"></label>
                <input asp-for="商品介紹introduce" class="form-control" />
                <span asp-validation-for="商品介紹introduce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="類別category" class="control-label"></label>
                <input asp-for="類別category" class="form-control" />
                <span asp-validation-for="類別category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
