
@{
    ViewData["Title"] = "ProductChartTwo";
    Layout = "~/Views/Shared/_ChartLayout.cshtml";
}

<h4>Chart 樣本2</h4>

<div class="container">
    <div class="card bg-white text-dark" style="width:20rem;">

        <div class="card-body">
            <h4 class="card-title">樣本</h4>
            <p class="card-text">設計樣本</p>
            <form id="form1" runat="server">
                <div style="width: 100%;">
                    <canvas id="myChart"></canvas>
                </div>
                <div id="myToolTip" style="position:absolute">
                    <p></p>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["一月", "二月", "三月", "四月", "五月", "六月"],
                datasets: [{
                    label: '想睡覺人數',
                    data: [12, 19, 4, 5, 8, 4],
                    borderWidth: 1,
                    backgroundColor: 'rgb(255, 159, 64)'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}